<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
    }

    td {
        border: 1px solid black;
        padding: 5px;
        vertical-align: top;
    }

    td:nth-child(odd) {
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
    }
</style>
<h1>{{ @VIEWVARS.form.label }}</h1>
<p>{{ @VIEWVARS.form.description }}</p>
<table>
    <repeat group="@POST" key="@key" value="@value">
        <tr>
            <td>{{ @key }}</td>
            <check if="is_array(@value)">
                <true>
                    <td>{{ implode(', ', @value) }}</td>
                </true>
                <false>
                    <td>{{ nl2br(@value) }}</td>
                </false>
            </check>
        </tr>
    </repeat>
</table>
<br />
<a
    href="{{ ((@SERVER['HTTPS'] ?? '') === 'on' ? 'https' : 'http') . '://' . (@SERVER['HTTP_HOST'] ?? '') }}/{{ @PARAMS.lang }}/data/{{ @VIEWVARS.form.slug }}">Download
    Posts</a>