<h1>Forms</h1>
<p class="lead">Download Data</p>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
    </tr>
    <repeat group="{{ @VIEWVARS.forms ?? [] }}" key="{{ @key }}" value="{{ @value }}">
        <tr>
            <td>{{ @value.name }}</td>
            <td>{{ @value.description }}</td>
            <td><a href="/{{ @PARAMS.lang }}/{{ @PARAMS.page }}/{{ @value.slug }}"
                    class="btn btn-sm btn-primary">Download</a>
                <a href="/{{ @PARAMS.lang }}/forms/{{ @value.slug }}"
                    class="btn btn-sm btn-primary">Form</a>
            </td>
        </tr>
    </repeat>
</table>