<h1>{{ @VIEWVARS.form.label ?? '' }}</h1>
<p class="lead">{{ @VIEWVARS.form.description ?? '' }}</p>

<check if="isset(@VIEWVARS.form._valid)">
    <check if="@VIEWVARS.form._valid === true">
        <true>
            <div class="alert alert-success" role="alert">
                {{ @VIEWVARS.form.feedback_valid }}
            </div>
        </true>
        <false>
            <div class="alert alert-danger" role="alert">
                {{ @VIEWVARS.form.feedback_invalid }}
            </div>
        </false>
    </check>
</check>

<form class="needs-validation" method="POST">
    <repeat group="{{ @VIEWVARS.form._controls ?? [] }}" key="{{ @key }}" value="{{ @value }}">

        <check if="@value.type === 'checkbox'">
            <fieldset
                class="mb-4 p-2 border border-1 rounded {{ (@value._class ?? '') === 'is-invalid' ? 'border-danger' : ((@POST[@value.name] ?? '' ) ? 'border-success' : '') }}">
                <label class="form-check-label mb-2">{{ @value.label }}</label>
                <check if="@value.description ?? ''"><p class="small">{{ @value.description }}</p></check>
                <repeat group="{{ @value.options ?? [] }}" key="{{ @val }}" value="{{ @label }}" counter="{{ @cnt }}">
                    <div class="form-check">
                        <input type="{{ @value.type }}" value="{{ @val }}"
                            class="form-check-input {{ @value._class ?? '' }}" id="{{ @value.name . @cnt }}"
                            name="{{ @value.name }}[{{ @cnt-1 }}]" {{ @val==(@POST[@value.name][@cnt-1] ?? '' ) ? 'checked' : '' }} {{
                            (@VIEWVARS.form._valid ?? '' ) ? 'disabled' : '' }}>
                        <label class="form-check-label" for="{{ @value.name . @cnt }}">{{ @label }}</label>
                        <check if="count(@value.options) === @cnt">
                            <div class="invalid-feedback">{{ @value.feedback_invalid }}</div>
                            <div class="valid-feedback">{{ @value.feedback_valid }}</div>
                        </check>
                    </div>
                </repeat>
            </fieldset>
        </check>

        <check if="@value.type === 'radio'">
            <fieldset
                class="mb-4 p-2 border border-1 rounded {{ (@value._class ?? '') === 'is-invalid' ? 'border-danger' : ((@POST[@value.name] ?? '' ) ? 'border-success' : '') }}">
                <label class="form-check-label mb-2">{{ @value.label }}</label>
                <check if="@value.description ?? ''"><p class="small">{{ @value.description }}</p></check>
                <repeat group="{{ @value.options ?? [] }}" key="{{ @val }}" value="{{ @label }}" counter="{{ @cnt }}">
                    <div class="form-check">
                        <input type="{{ @value.type }}" value="{{ @val }}"
                            class="form-check-input {{ @value._class ?? '' }}" id="{{ @value.name . @cnt }}"
                            name="{{ @value.name }}" {{ @val==(@POST[@value.name] ?? '' ) ? 'checked' : '' }} {{
                            (@VIEWVARS.form._valid ?? '' ) ? 'disabled' : '' }}>
                        <label class="form-check-label" for="{{ @value.name . @cnt }}">{{ @label }}</label>
                        <check if="count(@value.options) === @cnt">
                            <div class="invalid-feedback">{{ @value.feedback_invalid }}</div>
                            <div class="valid-feedback">{{ @value.feedback_valid }}</div>
                        </check>
                    </div>
                </repeat>
            </fieldset>
        </check>

        <check if="@value.type === 'select'">
            <check if="@value.description ?? ''"><p class="small">{{ @value.description }}</p></check>
            <div class="form-floating mb-4">
                <select class="form-select {{ @value._class ?? '' }}" name="{{ @value.name }}"
                    id="{{ @value.name }}" aria-label="" {{ (@VIEWVARS.form._valid ?? '' ) ? 'disabled' : '' }}>
                    <option value="">Please select ...</option>
                    <repeat group="{{ @value.options ?? [] }}" key="{{ @val }}" value="{{ @label }}">
                        <option value="{{ @val }}" {{ @val==(@POST[@value.name] ?? '' ) ? 'selected' : '' }}>{{ @label
                            }}</option>
                    </repeat>
                </select>
                <label for="{{ @value.name }}">{{ @value.label }}</label>
                <div class="valid-feedback">{{ @value.feedback_valid }}</div>
                <div id="{{ @value.name }}-feedback" class="invalid-feedback">{{ @value.feedback_invalid }}</div>
            </div>
        </check>

        <check
            if="@value.type === 'text' || @value.type === 'number' ||  @value.type === 'email' || @value.type === 'password'">
            <check if="@value.description ?? ''"><p class="small">{{ @value.description }}</p></check>
            <div class="form-floating mb-4">
                <input name="{{ @value.name }}" id="{{ @value.name }}" value="{{ @POST[@value.name] ?? '' }}"
                    aria-describedby="{{ @value.name }}-feedback" class="form-control {{ @value._class ?? '' }}"
                    type="{{ @value.type ?? 'text' }}" placeholder="{{ @value.label }}" {{ (@VIEWVARS.form._valid ?? ''
                    ) ? 'disabled' : '' }}>
                <label for="{{ @value.name }}">{{ @value.label }}</label>
                <div class="valid-feedback">{{ @value.feedback_valid }}</div>
                <div id="{{ @value.name }}-feedback" class="invalid-feedback">{{ @value.feedback_invalid }}</div>
            </div>
        </check>

        <check if="@value.type === 'textarea'">
            <check if="@value.description ?? ''"><p class="small">{{ @value.description }}</p></check>
            <div class="form-floating mb-4">
                <textarea rows="5" name="{{ @value.name }}" id="{{ @value.name }}"
                    aria-describedby="{{ @value.name }}-feedback" class="form-control {{ @value._class ?? '' }}"
                    placeholder="{{ @value.label }}" {{ (@VIEWVARS.form._valid ?? '' ) ? 'disabled' : ''
                    }}>{{ @POST[@value.name] ?? '' }}</textarea>
                <label for="{{ @value.name }}">{{ @value.label }}</label>
                <div class="valid-feedback">{{ @value.feedback_valid }}</div>
                <div id="{{ @value.name }}-feedback" class="invalid-feedback">{{ @value.feedback_invalid }}</div>
            </div>
        </check>

    </repeat>

    <check if="!isset(@VIEWVARS.form._valid) || @VIEWVARS.form._valid === false">
        <true>
            <button class="btn btn-lg btn-primary mt-3" type="submit">{{
                @VIEWVARS.form.label_submit ?? 'Submit' }}</button>
        </true>
        <false>
            <!--<a href="#" onclick="javascript:close();" class="btn btn-lg btn-primary mt-3">Close</a>-->
        </false>
    </check>
</form>