<h1>{{ @VIEWVARS.form.name ?? '' }}</h1>
<p class="lead">{{ @VIEWVARS.form.description ?? '' }}</h1>
<form method="POST">
    <repeat group="{{ @VIEWVARS.form._controls ?? [] }}" key="{{ @key }}" value="{{ @value }}">
        <div class="form-floating">
            <input class="form-control mt-2" type="{{ @value.type ?? 'text' }}" id="{{ @value.name }}"
                name="{{ @value.name }}" placeholder="{{ @value.label }}" @value.is_required ? 'required' : '' }}>
            <label for="{{ @value.name }}">{{ @value.label }}</label>
        </div>
    </repeat>
    <button class="btn btn-primary mt-3" type="submit">Submit</button>
</form>