<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="alert alert-warning p-3">
            <img class="mb-3" src="images/wtslogo.png">
            <p>
                Winterthurerstrasse 92
                <br />
                CH-8006 Zürich
                <br />
                <a href="tel:+41 (0) 44 635 61 31">+41 (0) 44 635 61 31</a>
                <br />
                <a href="https://www.wildtier.ch">www.wildtier.ch</a>
            </p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>